{% extends "base.html" %}
{% block title %}Create{% endblock title %}
{% load static %}
{% block nothing %}<link rel="stylesheet" href="{% static 'styles/create.css' %}">{% endblock nothing %}
{% block body %}

<div class="container">
    <h1>Create New Item</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }} 
        </div>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock body %}
