<!-- NAVBAR -->
<nav class="navbar">
    <div class="nav-left">
      <a href="{% url 'home' %}" class="brand"><h1>Santos</h1></a>
    </div>
  
    <div class="nav-center">
      <form method="GET" action="" class="search-form">
        <input type="search" id="search" name="q" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
    </div>
  
    <div class="nav-right">
      {% if request.user.is_authenticated %}
        <p class="user-greet">Hello {{ request.user }}</p>
        <a href="{% url 'logout_user' %}" class="auth-link">Logout</a>
      {% else %}
        <a href="{% url 'login_user' %}" class="auth-link">Login</a>
      {% endif %}
    </div>
  </nav>
  <hr>
  